@model App.Models.Auth.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link rel="stylesheet" href="~/css/editUser.css">

</head>
<body>

<div>
    
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.role)
        </dd>
    </dl>
</div>
    <div>

        <div>
            <p>Offre ID: @ViewData["OfferId"]</p>
        </div>
        <!-- Other user details -->
        <a asp-action="acceptCondidature" asp-controller="Candidatures" asp-route-userId="@Model.id" asp-route-offerId="@ViewData["OfferId"]"  class="btn btn-success">Accept</a>
        <a asp-action="refuseCondidature" asp-controller="Candidatures" asp-route-candidatureId="@Model.id" asp-route-offerId="@ViewData["OfferId"]" class="btn btn-danger">Refuse</a>
    
    </div>

</body>
</html>
