@model List<App.Models.Auth.User>

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candidates</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


    <style>

        h1 {
            font-size: 50px;
            margin-bottom: 20px;
        }




        header {
            background-color: #337ab7;
            color: #fff;
            padding: 8px;
            text-align: center;
        }

        .header h1 {
            font-size: 50px;
            margin: 0;
            background-color: #fff; /* Background behind the "Dashboard" title */
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: inline-block;
        }

        .header button {
            color: red;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            border-radius: 5px;
        }

            .header button:hover {
                background-color: grey;
            }

        .btn {
            background-color: #337ab7;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            border-radius: 5px;
        }

            .btn:hover {
                background-color: #3369b4;
            }
    </style>

</head>
<body>


    <header>
        <h1>Dashboard</h1>
        <form asp-action="Logout">
            <button class="btn" type="submit">Logout</button>
        </form>
    </header>

    @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.SuccessMessage
        </div>
    }

    <div class="container mt-4">
        <h2>Candidates</h2>

        @if (Model.Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var candidate in Model)
                    {
                        <tr>
                            <td>@candidate.name</td>
                            <td>@candidate.email</td>
                            <td>
                                <a asp-controller="Auth" asp-action="Details" asp-route-id="@candidate.id" asp-route-offerId="@ViewData["OfferId"]" class="btn btn-info">View Profile</a>
                               @*  <div>
                                    <p>Offre ID: @ViewData["OfferId"]</p>
                                </div> *@

                           </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No candidates found.</p>
        }

      

     

    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
